
@{
    ViewData["Title"] = "abouat";
    Layout = "~/Views/Shared/_Shop.cshtml";
}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a  asp-controller="Home" asp-action="index"><i class="fa fa-home"></i></a></li>
            <li><a  asp-controller="Home" asp-action="abouat">درباره ما</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                @*<h1 class="title">درباره ما</h1>*@
                <div class="list-group text-justify ">
                    <h2 class="subtitle">درباره ما</h2>
                    <p>بازارچه اینترنتی صنایع دستی آذربایجان توسط شرکت طلایه داران در سال 1399 با حمایت اداره کل میراث فرهنگی ،گردشگری و صنایع دستی آذربایجان شرقی طراحی و پیاده سازی گردیده است تا فضای خالی بین صنعتگران حوزه صنایع دستی و بازار فروش این محصولات به کمک ابزار فناوری اطلاعات و تجارت الکترونیک به مرور زمان از میان برداشته شود .</p>
                    <p>بر آنیم تا بتوانیم محتوای انحصاری ، جذاب و واقعی در راستای معرفی این صنعتگران و آثار فاخرشان بتوانیم محصولات صنایع دستی استان را در سبد هدیه و خرید خانوارها قرار داده و رونق اقتصادی را به این حوزه برگردانیم.</p>  <p></p>
                </div>

                @*<div class="row">
            <div class="col-sm-12">
                <p>شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                <p>شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                <blockquote>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                    <footer>ایپسوم دولور سیت</footer>
                </blockquote>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
            </div>
        </div>*@
                @*<h3 class="text-center">متن دلخواه خود را در اینجا قرار دهید.</h3>*@
                @*<div class="row">
            <div class="col-sm-4">
                <div class="well">
                    <h4>ارسال رایگان</h4>
                    <p>متن دلخواه خود را در اینجا قرار دهید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    <a href="#" class="btn btn-primary">ادامه مطلب</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h4>کارت هدیه</h4>
                    <p>متن دلخواه خود را در اینجا قرار دهید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    <a href="#" class="btn btn-primary">ادامه مطلب</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h4>امتیازات خرید</h4>
                    <p>متن دلخواه خود را در اینجا قرار دهید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    <a href="#" class="btn btn-primary">ادامه مطلب</a>
                </div>
            </div>
        </div>*@
                <br />
                <br />
                <div class="container">
                    <div class="custom-feature-box row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="feature-box fbox_1">
                                <div class="title">ارسال رایگان</div>
                                <p>ارسال رایگان برای کل خریدها</p>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="feature-box fbox_2">
                                <div class="title">بسته بندی مخصوص</div>
                                <p>انواع دسته بندی بر اساس درخواست خریدار</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="feature-box fbox_3">
                                <div class="title">کارت هدیه</div>
                                <p>بهترین هدیه برای عزیزان شما</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="feature-box fbox_4">
                                <div class="title">امتیازات خرید</div>
                                <p>از هر خرید امتیاز کسب کرده و از آن بهره بگیرید</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>

