@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Shop.cshtml";
}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="cart.html">سبد خرید</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">سبد خرید</h1>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">تصویر</td>
                                <td class="text-left">نام محصول</td>
                                <td class="text-left">تعداد</td>
                                <td class="text-right">قیمت واحد</td>
                                <td class="text-right">کل</td>
                            </tr>
                        </thead>
                        <tbody id="CartGridBody">
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table table-bordered">
                            <tr>
                                <td class="text-right"><strong>جمع کل:</strong></td>
                                <td class="text-right" id="TotalPriceGrid">132000 تومان</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>کسر هدیه:</strong></td>
                                <td class="text-right" id="TotalOfferGrid">4000 تومان</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>مالیات:</strong></td>
                                <td class="text-right" id="TotalTaxGrid">11880 تومان</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>قابل پرداخت :</strong></td>
                                <td class="text-right" id="ToPayGrid">139880 تومان</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="buttons">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="pull-left"><a id="btnEdame" class="btn btn-success">ادامه فرآیند خرید</a></div>
                    }
                    else
                    {
                        <span>جهت ادامه فرآیند خرید باید وارد حساب کاربری خود شوید</span>
                        <div class="pull-left"><a asp-controller="Account" asp-action="Login"  class="btn btn-success">ورود به حساب کاربری</a></div>

                    }
                    @*<div class="pull-right"><a class="btn btn-primary" asp-controller="Dargah" asp-action="peyment">تسویه حساب</a></div>*@
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>



@section scripts {

    <script src="~/js/FormScripts/Cart.js"></script>
}

