
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Shop.cshtml";
}
<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        @*<ul class="breadcrumb">
            <li><a href="/Home/index"><i class="fa fa-home"></i></a></li>
            <li><a href="#" id="navname"></a></li>
        </ul>*@
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Left Part Start -->
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <h3 class="subtitle">دسته ها</h3>
                <div class="box-category">
                    <ul id="cat_accordion">
                    </ul>
                </div>
                <h3 class="subtitle">پرفروش ها</h3>
                <div class="side-item">
                    <div class="product-thumb clearfix vighe" id="vighe">

                    </div>

                </div>

            </aside>
            <!--Left Part End -->
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <h1 class="title" id="titleLable">لیست محصولات</h1>
                <div id="ImproveSearch">
                    <h3 class="subtitle">بهبود جستجو</h3>
                    <div class="category-list-thumb row">
                       
                    </div>
                </div>

                <div class="product-filter">
                    <div class="row">
                        <div class="col-md-4 col-sm-5">
                            <div class="btn-group">
                                <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                                <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
                            </div>
                            <a href="compare.html" id="compare-total">محصولات مقایسه (0)</a>
                        </div>
                        <div class="col-sm-2 text-right">
                            <label class="control-label" for="input-sort">مرتب سازی :</label>
                        </div>
                        <div class="col-md-3 col-sm-2 text-right">
                            <select id="input-sort" class="form-control ">
                                <option value="1">نام (الف - ی)</option>
                                <option value="2">نام (ی - الف)</option>
                                <option value="3">قیمت (کم به زیاد)</option>
                                <option value="4">قیمت (زیاد به کم)</option>
                            </select>
                        </div>
                        <div class="col-sm-1 text-right">
                            <label class="control-label" for="input-limit">نمایش :</label>
                        </div>
                        <div class="col-sm-2 text-right">
                            <select id="input-limit" class="form-control">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row products-category">

                </div>
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <ul class="pagination">
                            
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right" id="recordindicator"></div>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>



@section scripts {
    <script src="~/FormScripts/Category.js"></script>
 
}