
@{
    ViewData["Title"] = "category";
    Layout = "~/Views/Shared/_Shop.cshtml";
}
<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="category.html">الکترونیکی</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Left Part Start -->
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <h3 class="subtitle">دسته ها</h3>
                <div class="box-category">
                    <ul id="cat_accordion">
                        <li>
                            <a href="category.html">هنرهای تجسمی</a> <span class="down"></span>
                            <ul>
                                <li><a href="##">تابلو کاریکاتور </a>  </li>
                                <li><a href="##">تابلو نقاشی</a> </li>
                                <li> <a href="##">طراحی سیاه قلم  </a> </li>
                                <li><a href="##">تذهیب</a></li>
                                <li>
                                    <a href="category.html">خوشنویسی</a> <span class="down"></span>
                                    <ul>
                                        <li><a href="category.html">خوشنویسی با قلم </a></li>
                                        <li><a href="category.html">خوشنویسی با خودکار</a></li>
                                    </ul>
                                </li>
                                <li><a href="##">نگارگری ایرانی و مینیاتور  </a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">محصولات فلزی</a> <span class="down"></span>
                            <ul>
                                <li> <a href="category.html">کارد و چاقو  </a> </li>
                                <li> <a href="category.html"> قلمزنی</a> </li>
                                <li> <a href="category.html">مینا کاری  </a> </li>
                                <li> <a href="category.html">گل نقره   </a> </li>
                                <li> <a href="category.html">ظروف مسی  </a> </li>
                                <li><a href="category.html">سماور ذغالی</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">محصولات چوبی</a> <span class="down"></span>
                            <ul>
                                <li><a href="##">خاتم کاری </a>  </li>
                                <li><a href="##">خراطی</a> </li>
                                <li> <a href="##">سوخت روی چوب </a> </li>
                                <li><a href="##">معرق کاری</a></li>
                                <li><a href="##">منبت کاری</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">فرش وقالی دستباف</a> <span class="down"></span>
                            <ul>
                                <li><a href="##">تابلو فرش </a>  </li>
                                <li><a href="##">جاجیم</a> </li>
                                <li> <a href="##">قالی </a> </li>
                                <li><a href="##">گبه</a></li>
                                <li><a href="##">گلیم</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">محصولات سنگی</a> <span class="down"></span>
                            <ul>
                                <li><a href="##">انگشتر و حکاکی نگین </a>  </li>
                                <li><a href="##">نقاسی روی سنگ</a> </li>
                                <li> <a href="##">سنگ قیمتی </a> </li>
                                <li><a href="##">حکاکای روی سنگ</a></li>
                                <li><a href="##">فیروزه کوبی</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">محصولات چرم</a> <span class="down"></span>
                            <ul>
                                <li><a href="##">سوخت و معرق چرم </a>  </li>
                                <li><a href="##">کمربند چرم</a> </li>
                                <li> <a href="##">کیف و کفش چرم </a> </li>


                            </ul>
                        </li>
                        <li>
                            <a href="category.html">پارچه و دستباف</a> <span class="down"></span>
                            <ul>
                                <li><a href="##">ترمه </a>  </li>
                                <li><a href="##">چوقا</a> </li>
                                <li> <a href="##">قلمکاری</a> </li>
                                <li><a href="##">کلاه نمدی</a></li>
                                <li><a href="##">گیوه</a></li>
                                <li><a href="##">ملیله</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">آلات موسیقی</a> <span class="down"></span>
                            <ul>
                                <li><a href="##">سازه های بادی </a>  </li>
                                <li><a href="##">سازه های زهی</a> </li>
                                <li> <a href="##">سازه های کوبه ای</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">شیشه و آینه</a> <span class="down"></span>
                            <ul>
                                <li><a href="##">تراش روی شیشه</a>  </li>
                                <li><a href="##">معرق شیشه</a> </li>
                                <li> <a href="##">نقاشی روی آینه</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">دست سازه های هنری</a> <span class="down"></span>
                            <ul>
                                <li><a href="##">نقاشی روی صدف </a>  </li>
                                <li><a href="##">حصیر</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <h3 class="subtitle">پرفروش ها</h3>
                <div class="side-item">
                    <div class="product-thumb clearfix vighe" id="vighe">

                    </div>

                </div>
              
                @*<div class="banner owl-carousel">
                        <div class="item"> <a href="#"><img src="~/image/banner/small-banner1-265x350.jpg" alt="small banner" class="img-responsive" /></a> </div>
                        <div class="item"> <a href="#"><img src="~/image/banner/small-banner-265x350.jpg" alt="small banner1" class="img-responsive" /></a> </div>
                    </div>*@
            </aside>
            <!--Left Part End -->
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <h1 class="title">الکترونیکی</h1>
                <h3 class="subtitle">بهبود جستجو</h3>
                @*<div class="category-list-thumb row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"> <a href="category.html"><img src="~/image/no_image.jpg" alt="لپ تاپ (6)" /></a> <a href="category.html">لپ تاپ (6)</a> </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"> <a href="category.html"><img src="~/image/no_image.jpg" alt="رومیزی (1)" /></a> <a href="category.html">رومیزی (1)</a> </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"> <a href="category.html"><img src="~/image/no_image.jpg" alt="دوربین (2)" /></a> <a href="category.html">دوربین (2)</a> </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"> <a href="category.html"><img src="~/image/no_image.jpg" alt="موبایل و تبلت (4)" /></a> <a href="category.html">موبایل و تبلت (4)</a> </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"> <a href="category.html"><img src="~/image/no_image.jpg" alt="صوتی و تصویری (11)" /></a> <a href="category.html">صوتی و تصویری (11)</a> </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"> <a href="category.html"><img src="~/image/no_image.jpg" alt="لوازم خانگی (2)" /></a> <a href="category.html">لوازم خانگی (2)</a> </div>
                </div>*@
                <div class="product-filter">
                    <div class="row">
                        @*<div class="col-md-4 col-sm-5">
                                <div class="btn-group">
                                    <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                                    <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
                                </div>
                                <a href="compare.html" id="compare-total">محصولات مقایسه (0)</a>
                            </div>
                            <div class="col-sm-2 text-right">
                                <label class="control-label" for="input-sort">مرتب سازی :</label>
                            </div>
                            <div class="col-md-3 col-sm-2 text-right">
                                <select id="input-sort" class="form-control col-sm-3">
                                    <option value="" selected="selected">پیشفرض</option>
                                    <option value="">نام (الف - ی)</option>
                                    <option value="">نام (ی - الف)</option>
                                    <option value="">قیمت (کم به زیاد)</option>
                                    <option value="">قیمت (زیاد به کم)</option>
                                    <option value="">امتیاز (بیشترین)</option>
                                    <option value="">امتیاز (کمترین)</option>
                                    <option value="">مدل (A - Z)</option>
                                    <option value="">مدل (Z - A)</option>
                                </select>
                            </div>
                            <div class="col-sm-1 text-right">
                                <label class="control-label" for="input-limit">نمایش :</label>
                            </div>
                            <div class="col-sm-2 text-right">
                                <select id="input-limit" class="form-control">
                                    <option value="" selected="selected">20</option>
                                    <option value="">25</option>
                                    <option value="">50</option>
                                    <option value="">75</option>
                                    <option value="">100</option>
                                </select>
                            </div>*@
                    </div>
                </div>
                <br />
                <div class="row products-category" id="cate">

                </div>
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <ul class="pagination">
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">&gt;</a></li>
                            <li><a href="#">&gt;|</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right">نمایش 1 تا 12 از 15 (مجموع 2 صفحه)</div>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>



@section scripts {
    <script src="~/Admin/FormScripts/Productui.js"></script>
}