
@{
    ViewData["Title"] = "OnlinePaymentResult";
    Layout = "~/Views/Shared/_Shop.cshtml";
}

<h1>OnlinePaymentResult</h1>




@section scripts {

    <script src="~/FormScripts/OnlinePaymentResult.js"></script>
}

