
@{
    ViewData["Title"] = "OnlinePaymentResult";
    Layout = "~/Views/Shared/_Shop.cshtml";
}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a asp-controller="Home" asp-action="index"><i class="fa fa-home"></i></a></li>
            <li><a asp-controller="Home" asp-action="abouat">درباره ما</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                @*<h1 class="title">درباره ما</h1>*@
                <div class="list-group text-justify ">
                    <h2 class="subtitle">پرداخت نا موفق</h2>
                    <p>پرداخت فاکتور شما با صورت موفق انجام نشده است لطفا نسبت به سفارش و پرداخت دوباره اقدام نمایید</p>  <p></p>
                </div>

                <div class="list-group text-justify ">
                    <h2 class="subtitle">پرداخت  موفق</h2>
                    <p>پرداخت فاکتور شما با صورت موفق انجام شده است شما می توانید لیست سفارشات خود را مشاهده نمایید</p>  <p></p>
                </div>

                <!-- لیست سفارشات-->
                <div class="row" id="listSefarsh1">
                    <div id="content" class="col-sm-12">
                        <h1 class="title">لیست سفارشات من</h1>
                        <div class="table-responsive" id="listSefarsh">
                        </div>
                    </div>
                </div>
                <!-- لیست سفارشات پایان-->
                <!-- لیست محصولات سفارش-->
                <div class="row" id="listProduct1">
                    <div id="content" class="col-sm-12">
                        <h1 class="title">لیست محصولات سفارش من</h1>
                        <div class="table-responsive" id="listProduct">
                        </div>
                    </div>
                </div>
                <!-- لیست محصولات سفارش// -->


                <br />
                <br />
                <div class="container">
                    <div class="custom-feature-box row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="feature-box fbox_1">
                                <div class="title">ارسال رایگان</div>
                                <p>ارسال رایگان برای کل خریدها</p>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="feature-box fbox_2">
                                <div class="title">بسته بندی مخصوص</div>
                                <p>انواع دسته بندی بر اساس درخواست خریدار</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="feature-box fbox_3">
                                <div class="title">کارت هدیه</div>
                                <p>بهترین هدیه برای عزیزان شما</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="feature-box fbox_4">
                                <div class="title">امتیازات خرید</div>
                                <p>از هر خرید امتیاز کسب کرده و از آن بهره بگیرید</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>




@section scripts {
    <script src="~/FormScripts/listSefaresh.js"></script>

    <script src="~/FormScripts/OnlinePaymentResult.js"></script>
}

