<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="image/favicon.png" rel="icon" />
    <title>لپ تاپ ایلین ور</title>

</head>
<body>
    <div class="wrapper-wide">
        <div id="header">

            <!-- Main آقایانu End-->
        </div>
        <div id="container">
            <div class="container">

                <div class="row product-info">
                    <div class="col-sm-6">
                        

                        <div class="image"><img class="img-responsive" itemprop="image" id="zoom_01" src="~/image/product/001-007.jpg" title="لپ تاپ ایلین ور" alt="لپ تاپ ایلین ور" data-zoom-image="~/image/product/001-007.jpg"/> </div>
                    </div>

                </div>


            </div>
        </div>
        <!--Right Part End -->
    </div>

    <!-- JS Part Start-->
    <script type="text/javascript" src="~/Files/js/jquery-2.1.1.min.js"></script>
 
    <script type="text/javascript" src="~/Files/js/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="~/Files/js/swipebox/lib/ios-orientationchange-fix.js"></script>
    <script type="text/javascript" src="~/Files/js/swipebox/src/js/jquery.swipebox.min.js"></script>

    <script type="text/javascript">
        // Elevate Zoom for Product Page image
        $("#zoom_01").elevateZoom({
            gallery: 'gallery_01',
            cursor: 'pointer',
            galleryActiveClass: 'active',
            imageCrossfade: true,
            zoomWindowFadeIn: 500,
            zoomWindowFadeOut: 500,
            zoomWindowPosition: 11,
            lensFadeIn: 500,
            lensFadeOut: 500,
            loadingIcon: 'image/progress.gif'
        });
        //////pass the images to swipebox
        $("#zoom_01").bind("click", function (e) {
            var ez = $('#zoom_01').data('elevateZoom');
            $.swipebox(ez.getGalleryList());
            return false;
        });
    </script>
    <!-- JS Part End-->
</body>
</html>