@using Microsoft.AspNetCore.Razor.TagHelpers
@model Entities.BusinessModel.UserRegistrationModel
@{
    ViewData["Title"] = "register";
    Layout = "~/Views/Shared/_Shop.cshtml";
}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="login.html">حساب کاربری</a></li>
            <li><a href="register.html">ثبت نام</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div class="col-sm-9" id="content">
                <h1 class="title">ثبت نام حساب کاربری</h1>
                <p>اگر قبلا حساب کاربریتان را ایجاد کرد اید جهت ورود به <a href="login.html">صفحه لاگین</a> مراجعه کنید.</p>
                <form class="form-horizontal" method="post" asp-controller="Account" asp-action="Register">
                    <fieldset id="account">
                        <legend>اطلاعات شخصی شما</legend>
                        <div style="display: none;" class="form-group required">
                            <label class="col-sm-2 control-label">گروه مشتری</label>
                            <div class="col-sm-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" checked="checked" value="1" name="customer_group_id">
                                        پیشفرض
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label asp-for="FirstName" class="col-sm-2 control-label">نام</label>
                            <div class="col-sm-10">
                                <input  asp-for="FirstName" type="text" class="form-control" id="input-firstname" placeholder="نام" >
                            </div>
                        </div>
                        <div class="form-group required">
                            <label asp-for="LastName" for="input-lastname" class="col-sm-2 control-label">نام خانوادگی</label>
                            <div class="col-sm-10">
                                <input asp-for="LastName" type="text" class="form-control" id="input-lastname" placeholder="نام خانوادگی">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label asp-for="Email" for="input-email" class="col-sm-2 control-label">آدرس ایمیل</label>
                            <div class="col-sm-10">
                                <input asp-for="Email" type="email" class="form-control" id="input-email" placeholder="آدرس ایمیل">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                       
                    </fieldset>
                  
                    <fieldset>
                        <legend>رمز عبور شما</legend>
                        <div class="form-group required">
                            <label asp-for="Password" for="input-password" class="col-sm-2 control-label">رمز عبور</label>
                            <div class="col-sm-10">
                                <input asp-for="Password" type="password" class="form-control" id="input-password" placeholder="رمز عبور">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label asp-for="ConfirmPassword" for="input-confirm" class="col-sm-2 control-label">تکرار رمز عبور</label>
                            <div class="col-sm-10">
                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="input-confirm" placeholder="تکرار رمز عبور">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="buttons">
                        <div class="pull-right">
                            <input type="checkbox" value="1" name="agree">
                            &nbsp;من <a class="agree" href="#"><b>سیاست حریم خصوصی</b> را خوانده ام و با آن موافق هستم</a> &nbsp;
                            <input type="submit" class="btn btn-primary" value="ادامه">
                        </div>
                    </div>
                </form>
        
            </div>
            <!--Middle Part End -->
            <!--Right Part Start -->
            <aside id="column-right" class="col-sm-3 hidden-xs">
                <h3 class="subtitle">حساب کاربری</h3>
                <div class="list-group">
                    <ul class="list-item">
                        <li><a href="login.html">ورود</a></li>
                        <li><a href="register.html">ثبت نام</a></li>
                        <li><a href="#">فراموشی رمز عبور</a></li>
                        <li><a href="#">حساب کاربری</a></li>
                        <li><a href="#">لیست آدرس ها</a></li>
                        <li><a href="wishlist.html">لیست علاقه مندی</a></li>
                        <li><a href="#">تاریخچه سفارشات</a></li>
                        <li><a href="#">دانلود ها</a></li>
                        <li><a href="#">امتیازات خرید</a></li>
                        <li><a href="#">بازگشت</a></li>
                        <li><a href="#">تراکنش ها</a></li>
                        <li><a href="#">خبرنامه</a></li>
                        <li><a href="#">پرداخت های تکرار شونده</a></li>
                    </ul>
                </div>
            </aside>
            <!--Right Part End -->
        </div>
    </div>
</div>


