
@{
    ViewData["Title"] = "سفارش";
    Layout = "~/Views/Shared/_Shop.cshtml";
}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="#">حساب کاربری</a></li>
            <li><a asp-controller="Home" asp-action="سفارش">لیست سفارشات من</a></li>
        </ul>
        <!-- لیست سفارشات-->
        <div class="row" id="listSefarsh1">
            <div id="content" class="col-sm-12">
                <h1 class="title">لیست سفارشات من</h1>
                <div class="table-responsive" id="listSefarsh">
                </div>
            </div>
        </div>
        <!-- لیست سفارشات پایان-->
        <!-- لیست محصولات سفارش-->
        <div class="row" id="listProduct1">
            <div id="content" class="col-sm-12">
                <h1 class="title">لیست محصولات سفارش من</h1>
                <div class="table-responsive" id="listProduct">
                </div>
            </div>
        </div>
        <!-- لیست محصولات سفارش// -->




    </div>
</div>
@section scripts {


    <script src="~/FormScripts/listSefaresh.js"></script>

}
