

@{
    ViewData["Title"] = "بلاگ";

}
<script src="~/Admin/js/jquery.min.js"></script>
<script src="~/Admin/FormScripts/Blog.js"></script>
<script src="~/Admin/PersianData/NewFolder/persian-date.min.js"></script>
<link href="~/Admin/PersianData/NewFolder/persian-datepicker.min.css" rel="stylesheet" />
<script src="~/Admin/PersianData/NewFolder/persian-datepicker.min.js"></script>
<script src="~/Admin/js/Custom.js"></script>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6"></div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div id="PnlList">
    <div class="card-header">
        <h3 class="card-title">لیست بلاگ</h3>
    </div>

    <div>
        <div class="row">
            <div class="col text-center">
                <input type="button" value="افزودن بلاگ جدید" class="btn btn-primary" id="btnJadid" />
            </div>
        </div>
        <hr />
        <div class="row table table-responsive">
            <div class="w-100 TblList">

            </div>
        </div>
    </div>

</div>
<div id="InsertModal" style="display:none">
    <div class="row">
        <div class="col-lg-12">

        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body bootstrap-select-1">
                    <div class="row">

                        <div class="col-md-4">
                            <label class="mb-3">زبان</label>
                            <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;" id="cmbLangouge">
                                <option value="1">فارسی</option>
                                <option value="2">انگلیسی</option>

                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="mb-3">دسته بندی</label>
                            <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;" id="cmbCategory">

                                <option value="1">میناکاری</option>
                                <option value="2">مس</option>
                                <option value="3">نقره</option>
                                <option value="4">خاتم کاری</option>
                                @*<option value="5">فرش</option>
                                    <option value="6">منبت کاری</option>
                                    <option value="7">ورنی</option>
                                    <option value="8">سفالگری</option>*@
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="mb-3">نوع بلاگ</label>
                            <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;" id="cmbTypeBlog">
                                <option value="1">متنی</option>
                                <option value="2">فیلم</option>
                                <option value="3">گالری</option>
                                <option value="4">پادکست</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <label class="mb-3">عنوان بلاگ</label>

                            <div><span id="OnvaneBlog1" class="text-danger"></span></div>
                            <input id="txtOnvaneBlog" type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label class="mb-3">تیتر بلاگ</label>

                            <div><span id="TitleBlog1" class="text-danger"></span></div>
                            <input id="txtTitleBlog" type="text" class="form-control input-sm" />

                        </div>



                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="mb-3">متن بلاگ</label>
                            <div><span id="MatneBlog" class="text-danger"></span></div>


                            <textarea id="elm1" name="area"></textarea>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <label class="mb-3">لینک بلاگ</label>

                            <div><span id="linkeBlog1" class="text-danger"></span></div>
                            <input id="txtlinkeBlog" type="text" class="form-control input-sm" />

                        </div>
                        <div class="col-md-4">
                            <label class="mb-3">کلید بلاگ</label>

                            <div><span id="KilideBlog1" class="text-danger"></span></div>
                            <input id="txtKilideBlog" type="text" class="form-control input-sm" />
                        </div>


                        <div class="col-md-4">
                            <label class="mb-3">لینک آپارات</label>

                            <div><span id="AparatUrl1" class="text-danger"></span></div>
                            <input id="txtAparatUrl" type="text" class="form-control input-sm" />



                        </div>
                    </div>
                </div>






                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <label class="mb-3">آیکن بلاگ</label>

                            <div><span id="IconBlog1" class="text-danger"></span></div>
                            <input id="IconBlog" type="file" name="filesIconBlog" />
                        </div>
                        <div class="col-md-4">
                            <label class="mb-3">تصویر بلاگ</label>

                            <div><span id="TasvireBozorg1" class="text-danger"></span></div>
                            <input id="TasvireBozorg" type="file" name="filesTasvireBozorg" />
                        </div>
                        <div class="col-md-4">
                            <label class="mb-3">فایل زمیمه</label>

                            <div><span id="FaileZamime1" class="text-danger"></span></div>
                            <input id="FaileZamime" type="file" name="filesFaileZamime" />
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <label class="mb-3">از تاریخ انتشار</label>

                            <div><span id="AzTarikhEnteshar1" class="text-danger"></span></div>

                            <input type="text" class="form-control" id="txtAzTarikh" placeholder="از تاریخ" />
                            <input id="AzTarikhObserver" type="hidden" />
                        </div>
                        <div class="col-md-4">
                            <label class="mb-3">تا تاریخ انتشار</label>

                            <input type="text" class="form-control" id="txtTaTarikh" placeholder="از تاریخ" />
                            <input id="TaTarikhObserver" type="hidden" />
                        </div>


                    </div>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="button" id="btnSabt" class="btn btn-success"><i class="fa fa-check"></i>&nbsp; ثبت</button>
                            <button type="button" class="btn btn-warning" id="btnEnseraf"><i class="fa fa-remove"></i>&nbsp; انصراف</button>
                            <hr>

                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>


</div>


@*@section Scripts
    {
            <script>
            $(function () {
                $("#Category").select2();

                $('#Category').select2({
                    ajax: {
                        url: '@Url.Action("Find","Home")',
                        dataType: 'json'

                    }
                });

            });
            </script>
        }*@



